// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

// ## Colors

$Very-Dark-Blue-d : hsl(207, 26%, 17%);
$Very-Dark-Blue-l : hsl(200, 15%, 8%);
$Dark-Blue : hsl(209, 23%, 22%);
$Dark-Gray : hsl(0, 0%, 52%);
$Very-Light-Gray : hsl(0, 0%, 98%);
$White : hsl(0, 0%, 100%);


$colors: (
  "900" :$Very-Dark-Blue-d,
  "800" :$Very-Dark-Blue-l,
  "400" :$Dark-Blue,
  "300" :$Dark-Gray,
  "200" :$Very-Light-Gray,
  "100" :$White,
);


// ## Typography

$font-sizes: (
  "--fs-100":clamp(0.51rem, -0.02vw + 0.52rem, 0.5rem),
  "--fs-200":clamp(0.64rem, 0.04vw + 0.63rem, 0.67rem),
  "--fs-300":clamp(0.8rem, 0.13vw + 0.77rem, 0.89rem),
  "--fs-400":clamp(1rem, 0.27vw + 0.95rem, 1.19rem),
  "--fs-500":clamp(1.25rem, 0.48vw + 1.15rem, 1.58rem),
  "--fs-600":clamp(1.56rem, 0.78vw + 1.41rem, 2.11rem),
  "--fs-700":clamp(1.95rem, 1.23vw + 1.71rem, 2.81rem),
  "--fs-800":clamp(2.44rem, 1.87vw + 2.07rem, 3.75rem),
  "--fs-900":clamp(3.05rem, 2.78vw + 2.5rem, 5rem),
);


$font-weights: (
  "--fw-extraBold": 800,
  "--fw-semiBold": 600,
  "--fw-light": 300,
);

$font-family: nunito;

// ## Break Points

$base-font-size : 16; // px

$breakpoints: (
  "mobile-s": #{calc(325 / $base-font-size)}em,
  "mobile": #{calc(450 / $base-font-size)}em,
  "tablet": #{calc(790 / $base-font-size)}em,
  "desktop": #{calc(980 / $base-font-size)}em,
  "wide": #{calc(1300 / $base-font-size)}em,
);